.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50% 50%;
 }

/* .item-1 {
   grid-row-start: 1; 
   grid-row-end: 2; 
   grid-column-start: 1;
   grid-column-end:2;
}*/